<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DataModelContainer" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;Initial Catalog=Heima8OADb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="Heima8.OA.Model.Properties.Settings.T4ConnectionString"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=T4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>